h1
{
    color: rgb(17, 2, 4);
    text-align: center;
}
body{background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v960-ning-30.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=63dd5f402645ef52fb7dfb592aec765a); background-repeat: no-repeat;
    background-size: 30000px 3000px;}

main{text-align: center;}
#a123{font-size: x-large;}
nav{background-color: rgba(254, 240, 240, 0.656);}
#me{height: 100px ;
width: 150px;}

#meoww
{
 width: 20px;
 height: 20px;
 border-style:groove ;
}

